<a href="upload">Upload form</a><br/>
<h4>Documents conversion statuses</h4>
{% for document in documents %}
    [{{ document['timestamp'] }}] <a href="/progress?uuid={{ document['uuid'] }}">{{ document['filename'] }}</a> [{{ document['ready'] }}/{{ document['pages'] }} {{ document['status'] }}]<br/>
{% endfor %}
<h4>Documents parsing statuses</h4>
{% for document in nlp %}
    [{{ document['timestamp'] }}] <a href="/progress?uuid={{ document['uuid'] }}">{{ document['filename'] }}</a> [{{ document['pages'] }} pages]<br/>
    {% for page in document['data'] %}
&nbsp;&nbsp; <a href="/nlp/{{ document['uuid'] }}/{{ page['page'] }}">{{ document['filename'] }} page {{ page['page'] }}/{{ document['pages'] }}</a> [{{ page['status'] }}]<br/>
    {% endfor %}
<br/>
{% endfor %}
